html,
body {
  margin: 0;
  height: 100%;
}

h1,
li,
small,
strong,
a,
.weather-temperature .active {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #261c14;
}
h1 {
  font-size: 32px;
  font-weight: 800;
  line-height: 38px;
  margin-bottom: 10px;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
}
li:first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
  color: blue;
}
small {
  position: relative;
  margin-left: 20px;
  top: 10px;
}
.bg {
  height: 100%;
  border: 1px solid transparent;
  background-image: url("img/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.wrapper-main {
  max-width: 600px;
  margin: 30px auto;
}
.wrapper-weather {
  padding: 20px;
  background-color: rgba(242, 242, 242, 0.7);
  border: 1px solid transparent;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.weather-temperature img {
  height: 120px;
  width: 120px;
  position: relative;
  top: -25px;
}
.weather-temperature strong {
  font-size: 78px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 18px;
  top: -39px;
}
.btn-primary {
  background-color: #74818c;
  border: 1px solid #74818c;
}
.weather-temperature .active {
  cursor: default;
  font-weight: 400;
  text-decoration: none;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
